In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession \
    .builder \
    .appName("Pyspark Example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

df = spark.read.csv("/home/user/Downloads/Copy of Sales_Data_20.csv",header=True,sep=",");

In [4]:
df.show()

+------+-------+----------+----------------+
|Region|Product|      Date|           Sales|
+------+-------+----------+----------------+
|  West| Prod J|2016-03-30|118561.905986659|
| South| Prod E|2010-09-15|17462.1270123118|
| South| Prod L|2013-04-17|64539.1913768631|
|  East| Prod A|2015-10-28|110216.292814462|
| North| Prod F|2010-10-31|19429.7297719477|
| South| Prod R|2014-12-26|95773.8765766756|
| North| Prod L|2011-07-14|32629.5732187547|
| North| Prod M|2012-04-10|46096.3110776484|
|  West| Prod R|2011-03-04|25609.5158749401|
| South| Prod K|2010-11-10|20279.0905757283|
| North| Prod T|2011-05-06|28782.3930960173|
|  East| Prod O|2015-07-25|105261.745345341|
|  East| Prod H|2015-07-16|104523.512520236|
| North| Prod F|2010-07-18|14272.2337786702|
|  West| Prod C|2016-02-17|116520.939910122|
| North| Prod P|2011-05-27|29725.7553004001|
| North| Prod Q|2015-05-20|102893.543818982|
| South| Prod H|2014-02-25|80300.7473467712|
| North| Prod A|2015-02-28|98875.5174810155|
| North| Prod H|2016-03-20|117949.417977742|
+------+-------+----------+----------------+
only showing top 20 rows

In [5]:
df.printSchema()

root
 |-- Region: string (nullable = true)
 |-- Product: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Sales: string (nullable = true)

In [6]:
df.count()

2500000

In [8]:
df.describe().show()

+-------+-------+-------+----------+-----------------+
|summary| Region|Product|      Date|            Sales|
+-------+-------+-------+----------+-----------------+
|  count|2500000|2500000|   2500000|          2500000|
|   mean|   null|   null|      null|63392.09531199504|
| stddev|   null|   null|      null|34030.06109965621|
|    min|   East| Prod A|2010-01-01| 10000.1976033941|
|    max|   West| Prod T|2016-06-15|  99999.920056939|
+-------+-------+-------+----------+-----------------+

In [10]:
#When we want to work on a column of a dataset.
df.select("Region","Date").show(5)

+------+----------+
|Region|      Date|
+------+----------+
|  West|2016-03-30|
| South|2010-09-15|
| South|2013-04-17|
|  East|2015-10-28|
| North|2010-10-31|
+------+----------+
only showing top 5 rows

In [12]:
#How to find the number of distinct region in dataset
df.select('Region').distinct().count()

4